@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600;700&family=Nunito+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --darkBlue: #176b87;
  --lightTextColor: black;
  --bgColor: rgb(241, 245, 255);
}

.App {
  font-family: "Noto Sans", sans-serif;
}
